In [57]:
import pandas as pd
import numpy as np
to_count = "./weights.csv"

In [58]:
df = pd.read_csv(to_count)

In [59]:
print(df)

     weights heights  weights(kg)  heights(cm)  BMI
0        175  5' 10"    79.378665          NaN  NaN
1        210   6' 0"    95.254398          NaN  NaN
2        136   5' 6"    61.688562          NaN  NaN
3        140  5' 10"    63.502932          NaN  NaN
4        160  5' 10"    72.574779          NaN  NaN
..       ...     ...          ...          ...  ...
296      255   6' 2"   115.666054          NaN  NaN
297      140  5' 11"    63.502932          NaN  NaN
298      140  5' 11"    63.502932          NaN  NaN
299      140  5' 11"    63.502932          NaN  NaN
300      140   5' 8"    63.502932          NaN  NaN

[301 rows x 5 columns]

In [60]:
cm_list = []
c = 0
for s in df['heights']:
    if s != '0':
#         print(c)
#         print(s)
        stri = s[0:1]
        x = s.find('"')
        xtri = s[3:x]
    #     print(x)
    #     print(stri)
        st = float(stri)
    #     print(xtri)
        xt = float(xtri)
        cm = (st*12 + xt) * 2.54
#         print(cm)
        cm_list.append(cm)
        c += 1
    else:
        cm_list.append(-1)
        c += 1
cml = np.array(cm_list)
print(cml)

[177.8  182.88 167.64 177.8  177.8  175.26 182.88 190.5  170.18 190.5
 177.8  167.64 182.88 182.88 180.34 187.96 167.64 182.88 157.48 175.26
 152.4  187.96 170.18 165.1  177.8  172.72 157.48 182.88 170.18 160.02
 185.42 167.64 175.26 177.8  187.96 170.18 157.48 177.8  177.8  177.8
 182.88 182.88 172.72 172.72 162.56 175.26 162.56 182.88 162.56 182.88
 180.34 162.56 165.1  182.88 160.02 182.88 175.26 175.26 180.34 172.72
 172.72 177.8  177.8  177.8  177.8  172.72 177.8  162.56 172.72 172.72
 165.1  175.26 182.88 172.72 172.72 167.64 154.94 185.42 154.94 167.64
 185.42 187.96 165.1  165.1  165.1  165.1  165.1  185.42 147.32 187.96
 167.64 162.56 162.56 165.1  162.56 187.96 185.42 162.56 182.88 182.88
 170.18 177.8  175.26 175.26 175.26 175.26 180.34 175.26 165.1  162.56
 177.8  154.94 160.02 162.56 187.96 187.96 187.96 180.34 182.88 149.86
 167.64 190.5  170.18 182.88 175.26 175.26 175.26 157.48 167.64 167.64
 182.88 190.5  177.8  182.88 182.88 175.26 180.34 187.96 180.34  -1.
 180.34 175.26 182.88 182.88 182.88 154.94 180.34 185.42 185.42 187.96
 177.8  162.56 165.1  187.96 157.48 157.48 157.48 185.42 180.34 180.34
 180.34 190.5  182.88 185.42 172.72 182.88 170.18 170.18 170.18 182.88
 182.88 170.18 160.02 172.72 177.8  172.72 177.8  182.88 167.64 167.64
 167.64 167.64 182.88 187.96 175.26 175.26 180.34 182.88 175.26 187.96
 170.18 177.8  180.34 160.02 165.1  182.88 165.1  182.88 160.02 180.34
 177.8  170.18 180.34 167.64 177.8  182.88 182.88 162.56 180.34 177.8
 172.72 185.42 180.34 170.18 170.18 170.18 195.58 167.64 175.26 185.42
 172.72 187.96 167.64 167.64 167.64 172.72 175.26 175.26 180.34 172.72
 185.42 175.26 175.26 185.42 162.56 185.42 175.26 180.34 190.5  190.5
 167.64 160.02 177.8  175.26 182.88 160.02 187.96 165.1  162.56 175.26
 175.26 185.42 177.8  172.72 172.72 172.72 175.26 182.88 160.02 187.96
 170.18 180.34 180.34 165.1  180.34 175.26 175.26 175.26 180.34 187.96
 167.64 175.26 170.18 175.26 182.88 182.88 154.94 167.64 175.26 157.48
 182.88 182.88 167.64 187.96 167.64 167.64 187.96 152.4  187.96 167.64
 177.8  175.26 187.96 160.02 182.88 175.26 187.96 180.34 180.34 180.34
 172.72]

In [61]:
w = df['weights(kg)']
BMI_list = []
for i in range(0, len(cml)):
#     print(w[i])
    bmi = float(w[i]) / ((cml[i] / 100)**2)
    BMI_list.append(bmi)
bml = np.array(BMI_list)
print(bml)

[25.10962784 28.48082788 21.95074904 20.08770228 22.95737403 22.15090043
 24.41213818 24.9980295  25.8423882  19.9984236  19.37028434 20.17532081
 26.71772901 21.69967838 20.92053897 25.03626151 25.82441064 25.76836808
 24.69156952 20.67417373 34.17699345 26.96212778 21.14377217 29.12122519
 22.95737403 27.3686255  19.20455407 21.02156343 20.36066949 23.02823012
 26.38654831 26.63142347 22.15090043 22.95737403 17.97475185 18.79446415
 21.9480618  35.87089692 35.87089692 35.87089692 23.05590828 20.34344848
 26.60838591 26.60838591 30.89661239 25.10435382 23.17245929 27.12459798
 24.03069852 25.09025313 21.61789027 20.59774159 26.95793418 27.12459798
 25.6853336  37.97443717 25.84271717 25.84271717 28.59140326 22.04694832
 22.04694832 29.41413547 29.41413547 29.41413547 29.41413547 25.08790671
 23.67479197 20.59774159 30.40958389 29.6493443  24.96105016 28.05780721
 23.05590828 33.45054228 33.45054228 24.21038497 30.23142509 20.44957494
 34.95508525 25.82441064 26.38654831 24.39430609 24.96105016 24.96105016
 24.96105016 24.96105016 24.96105016 23.74789348 27.16975189 22.46843982
 25.50160551 35.18780855 35.18780855 34.11343523 25.74717699 28.24603863
 21.10923865 28.32189469 23.73402323 25.09025313 27.40859355 23.53130838
 22.15090043 23.62762713 26.58108052 26.58108052 18.13113377 23.62762713
 23.29698015 20.94103728 26.54446372 27.39722898 28.34243707 27.46365545
 33.38168201 28.24603863 25.67821693 30.68345716 22.37779333 23.22694676
 19.69111311 30.87256643 28.19169622 40.68689697 22.15090043 22.15090043
 24.36599047 20.11905665 32.2805133  32.2805133  26.44648303 24.9980295
 21.52253815 22.37779333 23.05590828 29.53453391 32.07815975 35.94950371
 23.70994417  0.         30.68345716 23.62762713 21.69967838 21.69967838
 20.34344848 19.27253349 24.40729546 32.98318538 32.98318538 33.38168201
 25.10962784 21.45598082 24.96105016 21.82648439 24.69156952 24.69156952
 24.69156952 21.10923865 20.92053897 25.80199806 23.01259287 28.1227832
 25.09025313 29.02520314 20.52646913 22.37779333 24.27618286 19.57756682
 19.57756682 27.12459798 27.12459798 19.57756682 28.34243707 22.80718792
 22.95737403 22.80718792 22.95737403 25.76836808 23.40337214 19.36830798
 19.36830798 23.24196957 23.73402323 21.82648439 20.67417373 20.67417373
 37.65697015 23.73402323 29.53453391 21.82648439 26.62549088 24.39220991
 26.49934936 20.37112665 24.96105016 22.37779333 26.62512018 31.19328768
 25.6853336  30.68345716 25.82704578 23.49308018 25.10464676 27.4384363
 29.41413547 25.09025313 25.09025313 24.88893776 23.70994417 29.41413547
 30.40958389 22.42856606 23.70994417 22.70997751 22.70997751 22.70997751
 21.34466594 30.66648763 23.62762713 32.71931991 24.32766712 20.54257355
 29.05246197 29.05246197 29.05246197 21.28670873 24.36599047 23.62762713
 21.61789027 25.84814631 26.38654831 18.45908369 26.58108052 35.62184021
 27.46365545 29.02520314 22.15090043 23.70994417 27.49783245 27.49783245
 21.95074904 23.02823012 25.82704578 22.15090043 20.34344848 19.48542549
 24.39430609 27.45715518 34.32956932 35.44144069 22.15090043 22.42856606
 24.39220991 36.49150067 36.49150067 37.55583611 36.91816738 22.37779333
 19.48542549 31.45581576 17.54149987 20.92053897 28.59140326 19.96884013
 27.89405196 22.88926378 22.88926378 22.88926378 26.49934936 23.75235066
 19.36830798 19.19744704 31.32410691 29.53453391 30.51517274 30.51517274
 20.78410475 20.98233364 22.15090043 26.52057467 20.34344848 20.34344848
 21.95074904 23.23878632 24.21038497 24.21038497 20.54257355 26.95100055
 30.81386032 19.85251568 19.37028434 22.15090043 25.67821693 25.6853336
 27.80271293 32.4879873  32.7397266  19.52583637 19.52583637 19.52583637
 21.28670873]

In [62]:
dfc = pd.DataFrame({'height': cml/100,
                    'weight': w,
                   'BMI': bml})

In [63]:
dfc

     height      weight        BMI
0    1.7780   79.378665  25.109628
1    1.8288   95.254398  28.480828
2    1.6764   61.688562  21.950749
3    1.7780   63.502932  20.087702
4    1.7780   72.574779  22.957374
..      ...         ...        ...
296  1.8796  115.666054  32.739727
297  1.8034   63.502932  19.525836
298  1.8034   63.502932  19.525836
299  1.8034   63.502932  19.525836
300  1.7272   63.502932  21.286709

[301 rows x 3 columns]

In [64]:
dfc.to_csv('output.csv')